EXPO_PUBLIC_API_BASE_URL=

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=764728744073-4h8l7638uom853plt0hdsicn9avugf3p.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=764728744073-9rd4hscje16a92rete40g5q0r10ggnj1.apps.googleusercontent.com

EXPO_PUBLIC_IMAGES_API_BASE_URL=https://armazenamentoarquivos.com.br/api-images

EXPO_PUBLIC_PUSH_API_BASE_URL=
